/* --- Addon: Header Background Image --- */
.content:before {height: 416px; background: #393D41 url(%%headerimg%%) fixed no-repeat 33% 0}
    @media only screen and (min-width : 1920px) {.content:before {background-size: contain;}}

    	/* Add or subtract THE SAME AMOUNT ON EACH OF THESE */
.content                        {margin-top:        342px;} 
.side                           {margin-top:        446px;}	
.search-page .side              {margin-top:        394px;}	
.comments-page .side            {margin-top:        558px;}
.res .comments-page .side 		{margin-top: 		572px;}
.comments-page .side .linkinfo  {margin-top:        246px;}	
#search, .search-page .morelink {top:               342px;}	
.morelink                       {top:               394px;}
#header-bottom-left             {top:               278px;}

#header .tabmenu li a, .pagename a {text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);}
#header .tabmenu li a:hover, .pagename a:hover {background-color: rgba(0, 0, 0, 0.12);}

/* --- End Addon --- */


/* --- Addon: Header Color (Primary Color) --- */
.content:before {background-color: #FF548F}
/* --- End Addon --- */


/* --- Addon: Button color (Secondary Color) --- */
.morelink, .titlebox .fancy-toggle-button .add, .morelink:after, .content .infobar,
.submit-page #newlink.submit.content .tabmenu.formtab .selected a, .submit-page .infobar, 
.submit-page #newlink.submit.content .btn, .drop-choices a.choice:hover, .linkflairlabel, .fancy-toggle-button .remove:active
.expando-button:hover, .top-page .content .menuarea .dropdown.lightdrop .selected, .expando-button:hover, .side .titlebox .md h3 a,
.res div.RES-keyNav-activeElement, .res div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {background-color: #9061C2}

    /* Hover color = 10% white overlay color */
    .morelink:hover, .submit-page #newlink.submit.content .tabmenu.formtab .selected a:hover,
    .side .titlebox .md h3 a:hover, .titlebox .fancy-toggle-button .add:hover, .titlebox .fancy-toggle-button .add:hover:after
     {background-color: #BE80FF;}

    /* Active color = 10% black overlay color */
    .morelink:active, .side .titlebox .md h3 a:active {background-color: #8153b3;}

/* --- End Addon --- */


/* --- Addon: Link Color (Tertiary Color) - This color should be either similiar to the primary color, 
or to the secondary color. Else the page will become too busy.-- */
a, .link .entry .buttons li a.comments, .md a, .titlebox .tagline a.flairselectbtn, 
.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title, 
body .content .sitetable .link .title a:hover, .link .domain a:hover, .link .entry .buttons li a:hover, 
.link .entry .buttons li a.flairselectbtn, .comment .flat-list li a[onclick*="reply"], 
.comment .flat-list li a:hover, .tagline .submitter, .tagline .submitter, .side:after, 
.usertext .bottom-area a.reddiquette, .side .titlebox .md h6 a
 {color: #FF548F;}
/* --- End Addon --- */


/* --- Addon: Content Header Announcement Message --- */
.content {margin-top: 132px;}

.side .titlebox .md h5 {
	margin: 0;
    position: absolute;
    right: 332px;
    left: 16px;
    z-index: 102;
    height: auto;
    top: 96px;
    padding: 11px 11px 11px 16px;
    border-radius: 2px;
    background-color: #FFF;
    color: #4D5763;
    font-weight: normal;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 2px 2px 0 0;
    line-height: 1;
}

    .side .titlebox .md h5 a {
        font-weight: bold;
        color: #4F8EF7;
    }

        .side .titlebox .md h5 a:hover {text-decoration: underline;}

/* --- End Addon --- */

/* --- Addon: Floating Announcement Message --- */
.side .titlebox .md h6 {
    position: absolute;
    width: 300px;
    right: 16px;
    height: auto;
    top: 28px;
    padding: 11px;
    border-radius: 2px;
    background-color: #fff;
    color: #4D5763;
    font-weight: normal;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
    text-decoration: none;
}

    .side .titlebox .md h6 a {
        font-weight: bold;
        color: #4F8EF7;
    }

        .side .titlebox .md h6 a:hover {text-decoration: underline;}

/* --- End Addon --- */


/* --- Addon: Header Background Image --- */
.content:before {height: 416px; background: #393D41 url(%%headerimg%%) fixed no-repeat 33% 0}
    @media only screen and (min-width : 1920px) {.content:before {background-size: contain;}}

    	/* Add or subtract THE SAME AMOUNT ON EACH OF THESE */
.content                        {margin-top:        342px;} 
.side                           {margin-top:        446px;}	
.search-page .side              {margin-top:        394px;}	
.comments-page .side            {margin-top:        558px;}
.res .comments-page .side 		{margin-top: 		572px;}
.comments-page .side .linkinfo  {margin-top:        246px;}	
#search, .search-page .morelink {top:               342px;}	
.morelink                       {top:               394px;}
#header-bottom-left             {top:               278px;}

#header .tabmenu li a, .pagename a {text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);}
#header .tabmenu li a:hover, .pagename a:hover {background-color: rgba(0, 0, 0, 0.12);}

/* --- End Addon --- */



				.flair:before {
				    display: inline-block;
				    margin-right: 5px;
				    width: 16px;
				    height: 16px;
				    background: url(%%flairsheet%%) no-repeat scroll -9999px -9999px transparent;
				    content: "";
				    vertical-align: top;
				    position: relative;
				    top: -1px;
				    margin-left: 4px;
				}

					.side .flair:before {margin-left: 0px;}


				/* C4D Flairs */
				.flair-modblack:before		{background-position: -000px -0px;}
				.flair-modgold:before		{background-position: -016px -0px;}
				.flair-modsilver:before		{background-position: -032px -0px;}
				.flair-modgreen:before		{background-position: -048px -0px;}

				.flair-heartred:before		{background-position: -000px -16px;}
				.flair-heartgold:before		{background-position: -016px -16px;}
				.flair-heartblue:before		{background-position: -032px -16px;}
				.flair-heartgreen:before	{background-position: -048px -16px;}

				.flair-awardplat:before		{background-position: -000px -32px;}
				.flair-awardgold:before		{background-position: -016px -32px;}
				.flair-awardsilver:before	{background-position: -032px -32px;}
				.flair-awardbronze:before	{background-position: -048px -32px;}


				.flair-spheregrey:before	{background-position: -000px -48px;}
				.flair-spherered:before		{background-position: -016px -48px;}
				.flair-sphereblue:before	{background-position: -032px -48px;}
				.flair-spheregreen:before	{background-position: -048px -48px;}