@import "../variables";
@import "../mixins";

html, body {
    font-family: $font;
    // font-size: 14px;
    // font-weight: 400;
    // line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}