@import "../variables";
@import "../mixins";

#header {
    display: grid;
    grid-template: 24px auto / auto auto;

    border: 0;
    background: $color-primary url($image-header) 50% 50% / cover no-repeat;

    font-size: 11px;

    a {
        color: unquote("rgba(#{$color-primary-contrast}, 0.87)");
    }
}

#jumpToContent {
    display: none
}

/* === SR LIST === */

#sr-header-area {
    overflow: hidden;

    background: 0;
    border: 0;

    .width-clip {
        position: initial;
    }
}

#sr-more-link {
    position: initial;
    background: 0;
    padding: 0 8px;
}

.sr-bar .separator {
    font-size: 0;
    margin: 0 4px;
}

.dropdown.srdrop .selected {
    color: unquote("rgba(#{$color-primary-contrast}, 0.87)");

    margin: 0 12px 0 8px;
    padding: 0;
    background: 0;

    &::after {
        display: inline-block;
        content: "▼";
        margin-left: 4px;
        font-size: 10px;

    }
}

#sr-header-area, #header-bottom-right {
    background: rgba(0,0,0,0.08);
    height: 24px;
    line-height: 24px;
    grid-row: 1;
}

/* === USER MENU === */

#header-bottom-right {
    position: initial;

    border-radius: 0;
    padding: 0 8px;

    .separator {
        display: none;
    }

    > * {
        display: inline-block;
        position: initial;
        margin: 0 4px;
    }
}

.beta-hint {
    position: initial;
    display: inline-block;

    a {
        #header &::before {
            content: 'β';
            font-size: 12px;
            font-weight: 900;
        }

        position: initial;
        background: 0;
        margin: 0;
        font-size: 0;
        text-indent: 0;
        width: initial;
        height: initial;
        overflow: initial;
    }
}

#header-bottom-left {
    grid-area: 2 / 1 / 2 / -1;

    display: grid;
    grid-template: auto [l] 48px auto [n] 42px / min-content min-content auto;

}

/* === LOGO === */

#header-img[class] {
    margin: 0 0 0 16px;
    grid-area: l / 1;
}

.pagename {
    grid-area: l / 2;
    font-variant: none;

    a {
        color: unquote("rgb(#{$color-primary-contrast})");
        font-size: 42px;
    }
}

/* === NAVMENU === */

.tabmenu {
    grid-area: n / 1 / n / -1;

    line-height: 42px;
    text-transform: uppercase;
    font-size: 14px;

    margin: 0;
    padding: 0 10px;

    background: rgba(0,0,0,0.24);

    li {
        display: inline-block;
        margin: 0;

        a {
            display: block;
            padding: 0 6px;

            &[class] {
                background: 0;
                color: unquote("rgba(#{$color-primary-contrast}, 0.87)");
            }
        }

        &.selected a {
            border: 0;
            border-bottom: 2px solid;
        }
    }
}