@import "../variables";

body {
    background: $layout-bg-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

:focus {
    outline: none !important;
}

body > .content {
    margin: 16px;
    padding: 0;
    flex: 1;
}

.content .spacer {
    margin: 0;
}