body {
    display: grid;
    grid-template: [h] 192px 16px [c] auto [f] 300px / 16px [c] auto 16px [s] $sidebar-width 16px;

    background: $layout-bg-color;

    > .content {
        grid-area: c / c;
    }
}

#header {
    grid-area: h / 1 / h / -1;
}

.side {
    grid-area: c / s;
}

.footer-parent {
    grid-area: f / 1 / f / -1;
}
